### First Use Examples
The ETMClient is the link between the ETM API and Python. In order to interact with a scenario, the ETMClient first needs to connect to a scenario in the ETM. The scenario to which the client is connected is referenced to with a scenario_id. There are several ways to connect to a scenario, you can create a new scenario, you can create a copy of existing scenario's or you can connect to an existing scenario. First time users probably want to create an entire new scenario or a scenario that is based on a predefined template.

In [1]:
from pyETM import Client

# create a new scenario from scratch
client = Client.from_scenario_parameters(end_year=2050, area_code="nl")

# print scenario_id
scenario_id = client.scenario_id
scenario_id

'921165'

In [2]:
from pyETM import Client

# you can reconnect to your scenario with the provided scenario_id
client = Client(scenario_id)
client.scenario_id

'921165'

### Scenario properties
After a connection with a scenario is established, you can request specific properties of that given scenario. The more basic properties that can be accessed for example are the start year, area code, or date dat which the scenario was created. Some properties can also be changed, for example if the scenario is read only and thus cannot be modified via the API.

In [3]:
client.created_at

Timestamp('2022-06-09 20:31:35+0000', tz='UTC')

More relevant properties of the scenario are the user configured parameters of the scenarios. You can access and change them via the user values property of the scenario.

In [4]:
# frst check which parameters can be set in the scenario
parameters = client.user_parameters
parameters.iloc[41:46]

,min,max,default,unit,cache_error,user,disabled,disabled_by,share_group,permitted_values
efficiency_buildings_space_heater_crude_oil,70.0,100.0,85.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_electricity,90.0,100.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_heatpump_air_water_electricity,0.0,200.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_hybrid_heatpump_air_water_electricity,0.0,200.0,100.0,%,NaN,NaN,False,NaN,NaN,NaN
efficiency_buildings_space_heater_network_gas,90.0,111.0,106.7,%,NaN,NaN,False,NaN,NaN,NaN

In [5]:
# show parameters that are set by the user
client.user_values

Series([], Name: user, dtype: object)

In [6]:
# let's the capacities of several plants
# we can specify these changes in a dictonairy or series object.
user_values = {
    'capacity_of_energy_power_nuclear_gen2_uranium_oxide' : 1750,
    'capacity_of_energy_power_wind_turbine_coastal' : 50,
    'capacity_of_energy_power_wind_turbine_offshore' : 25000
}

# apply the changes to the scenario
client.user_values = user_values
client.user_values

capacity_of_energy_power_nuclear_gen2_uranium_oxide     1750.0
capacity_of_energy_power_wind_turbine_coastal             50.0
capacity_of_energy_power_wind_turbine_offshore         25000.0
Name: user, dtype: object

As the user_values can be passed in different formats, it is possible to load a json as a dictonairy or a csv-file as series or dataframe with a 'user' column. When parameters are passed with a value outside the domain that is specified, the client will raise an error. 

### Result Curves
Simular to the scenario properties, the results of a scenario can also be accessed as properties of the scenario. When scenario parameters are changed, all results curves are automatically reset and are requested again upon accessing the client property. This means that the first time that a result curve is requested some time will pass before the result is loaded, as the ETM is evaluating the scenario in the background.

In [7]:
# request hourly electricity curves
ecurves = client.hourly_electricity_curves
ecurves.head()

,buildings_solar_pv_solar_radiation.output (MW),energy_battery_solar_pv_solar_radiation.output (MW),energy_battery_wind_turbine_inland.output (MW),energy_chp_coal_gas.output (MW),energy_chp_combined_cycle_network_gas.output (MW),energy_chp_local_engine_biogas.output (MW),energy_chp_local_engine_network_gas.output (MW),energy_chp_local_wood_pellets.output (MW),energy_chp_supercritical_ccs_waste_mix.output (MW),energy_chp_supercritical_waste_mix.output (MW),...,transport_bus_using_electricity.input (MW),transport_car_flexibility_p2p_electricity.input (MW),transport_car_using_electricity.input (MW),transport_freight_train_using_electricity.input (MW),transport_motorcycle_using_electricity.input (MW),transport_passenger_train_using_electricity.input (MW),transport_tram_using_electricity.input (MW),transport_truck_using_electricity.input (MW),transport_van_using_electricity.input (MW),deficit
DateTime,,,,,,,,,,,,,,,,,,,,,
2050-01-01 00:00:00,0.0,0.0,0.0,116.7808,0.0,108.5708,0.0,0.0,0.0,0.00,...,0.6779,0.0,7.0363,32.0425,0.0134,47.8428,6.6211,0.2004,0.3392,0.0
2050-01-01 01:00:00,0.0,0.0,0.0,116.7808,0.0,108.5708,0.0,0.0,0.0,0.00,...,0.5123,0.0,2.6199,24.2145,0.0050,17.8140,2.4653,0.1514,0.2563,0.0
2050-01-01 02:00:00,0.0,0.0,0.0,116.7808,0.0,108.5708,0.0,0.0,0.0,20.53,...,0.4021,0.0,1.2336,19.0064,0.0024,8.3876,1.1608,0.1189,0.2012,0.0
2050-01-01 03:00:00,0.0,0.0,0.0,116.7808,0.0,108.5708,0.0,0.0,0.0,0.00,...,0.3172,0.0,0.8575,14.9908,0.0016,5.8308,0.8069,0.0938,0.1587,0.0
2050-01-01 04:00:00,0.0,0.0,0.0,116.7808,0.0,108.5708,0.0,0.0,0.0,0.00,...,0.2489,0.0,0.8579,11.7668,0.0016,5.8334,0.8073,0.0736,0.1246,0.0

### Custom Curves
It is also possible to upload custom curves for a select number of parameters.

In [8]:
# show if there are custom curves attached in the scenario
client.get_custom_curve_keys()

[]

In [9]:
client.get_custom_curve_settings()

Empty DataFrame
Columns: []
Index: []

Set some scenarios by passing random data for the interconnectors

In [10]:
import numpy as np
import pandas as pd

# create prices for interconnectors
con1 = pd.Series(np.random.rand(8760)*3, name='interconnector_1_price')
con2 = pd.Series(np.random.rand(8760)*49, name='interconnector_2_price')
con3 = pd.Series(np.random.rand(8760)*5, name='interconnector_3_price')

# create capacity factors for wind
offshore = pd.Series(np.random.rand(8760), name='weather/wind_offshore_baseline')
onshore = pd.Series(np.random.rand(8760), name='weather/wind_inland_baseline')

# merge series in dataframe
ccurves = pd.concat([con1, con2, offshore, onshore], axis=1)

# show random data
ccurves.head()

,interconnector_1_price,interconnector_2_price,weather/wind_offshore_baseline,weather/wind_inland_baseline
0,2.600017,36.502291,0.761719,0.749763
1,1.268351,22.827907,0.297733,0.788933
2,2.872664,43.203728,0.611196,0.635905
3,2.139143,45.393371,0.643890,0.878861
4,0.920009,28.622220,0.190173,0.092703

In [11]:
# set data as ccurves profiles
client.custom_curves = ccurves
client.custom_curves.head()

,interconnector_1_price,interconnector_2_price,weather/wind_offshore_baseline,weather/wind_inland_baseline
0,2.60,36.50,4.788707e-08,4.733079e-08
1,1.27,22.83,1.871761e-08,4.980350e-08
2,2.87,43.20,3.842412e-08,4.014320e-08
3,2.14,45.39,4.047950e-08,5.548045e-08
4,0.92,28.62,1.195563e-08,5.852124e-09

In [12]:
# add additional custom curve
client.upload_custom_curve(con3)
client.custom_curves.head()

,interconnector_1_price,interconnector_2_price,interconnector_3_price,weather/wind_offshore_baseline,weather/wind_inland_baseline
0,2.60,36.50,2.30,4.788707e-08,4.733079e-08
1,1.27,22.83,0.82,1.871761e-08,4.980350e-08
2,2.87,43.20,2.77,3.842412e-08,4.014320e-08
3,2.14,45.39,2.09,4.047950e-08,5.548045e-08
4,0.92,28.62,0.51,1.195563e-08,5.852124e-09

In [13]:
client.get_custom_curve_user_value_overrides()

user_value_key
electricity_interconnector_1_marginal_costs                     interconnector_1_price
electricity_interconnector_2_marginal_costs                     interconnector_2_price
electricity_interconnector_3_marginal_costs                     interconnector_3_price
flh_of_energy_power_wind_turbine_offshore               weather/wind_offshore_baseline
flh_of_energy_power_wind_turbine_offshore_user_curve    weather/wind_offshore_baseline
flh_of_energy_power_wind_turbine_inland                   weather/wind_inland_baseline
flh_of_energy_power_wind_turbine_inland_user_curve        weather/wind_inland_baseline
Name: overriden_by, dtype: object

In [14]:
client.get_custom_curve_settings()

,type,display_group,overrides,name,size,datetime,source_scenario
key,,,,,,,
interconnector_1_price,price,interconnectors,1,not specified,42904.0,2022-06-09 20:31:41+00:00,{}
interconnector_2_price,price,interconnectors,1,not specified,49937.0,2022-06-09 20:31:42+00:00,{}
interconnector_3_price,price,interconnectors,1,not specified,42954.0,2022-06-09 20:31:46+00:00,{}
weather/wind_offshore_baseline,capacity_profile,electricity_production,2,not specified,195928.0,2022-06-09 20:31:42+00:00,NaN
weather/wind_inland_baseline,capacity_profile,electricity_production,2,not specified,195826.0,2022-06-09 20:31:43+00:00,NaN